<div class="styleguide-example">
    {% block styleguide_header %}
        <h3>
            <span class="styleguide-section">{{ section.section }}</span>
            <span class="styleguide-title">>{{ section.title }}</span>
            <span class="styleguide-filename">{{ section.filename }}</span>
        </h3>
    {% endblock %}

    <div class="styleguide-description">
        {% block styleguide_description %}
            <p>{{  section.description|nl2br  }}</p>
            {% if section.modifiers|length > 0 %}
                <ul class="styleguide-modifier">
                    {% for modifier in section.modifiers %}
                        <li>
                            <span class="styleguide-modifier-name {% if modifier.extender %}styleguide-extender-name{% endif %}">
                                {{  modifier.name  }}
                            </span>
                                {% if modifier.extender %}
                                    @extends
                                    <span class="styleguide-modifier-name">%{{ section.baseExtensionClass }}</span>
                                {% endif %}
                            {% if modifier.description != '' %}
                                - {{  modifier.description  }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>

    <div class="styleguide-elements">
        {% block styleguide_elements %}
            {% if showNoModifier is not defined or showNoModifier %}
                <div class="styleguide-element">
                    {% block styleguide_element %}
                        {{  html|replace({'$modifierClass': ''})|replace({'$extenderClass': section.baseExtensionClass})|raw  }}
                    {% endblock styleguide_element %}
                </div>
            {% endif %}
            {% for modifier in section.modifiers %}
                <div class="styleguide-element styleguide-modifier {% if modifier.extender%}styleguide-extender{% endif %}">
                    {% block styleguide_modifier %}
                        <span class="styleguide-modifier-label {% if modifier.extender%}styleguide-extender-label{% endif %}">{{  modifier.name  }}</span>
                        {% if modifier.extender %}
                            {{ html|replace({'$modifierClass': ''})|replace({'$extenderClass': modifier.classname})|raw }}
                        {% else %}
                            {{  html|replace({'$modifierClass': modifier.classname})|replace({'$extenderClass': section.baseExtensionClass})|raw  }}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endfor %}
        {% endblock %}
    </div>

    {% if showHTML is not defined or showHTML %}
        <div class="styleguide-html">
            {% block styleguide_html %}
                <pre class="styleguide-code"><code>{{ html|replace({'$extenderClass': section.baseExtensionClass}) }}</code></pre>
            {% endblock %}
        </div>
    {% endif %}
</div>
